.module__home{
	
	background: url(../images/back_home.jpg) no-repeat center ;
	
}
.module__more_info{
	background: #fff;
	
	
}

.module__features{
	background: #fafafa;
	
	p {
		font-size: 8pt;
	}
	.module__features__reward{
	background: url(../images/sport---reward-badge.png) no-repeat center;
    border: red solid 1px;
    
}
h2{
		font-size: 16pt;
	}
img{
	width: 100%;
}

}



.module_faq{
	height: 530px;
	background: #fafafa;
}
.module__aboute{
height: 630px;
background: #FFF;

}
.module__argument{
	height: 300px;
	background: #fafafa;
}

.module__footer{
	height: 120px;
	color: black; 
	background: #fff;
}